{% extends "base.html" %}
{%  block content %}
    {% macro render_field(field, placeholder=None) %}
        {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    {% endmacro %}
    <div>
    	<div>
    		<legend style="padding-left: 2%">Log in</legend>
    		<form method="POST" action="/auth/login" accept-charset="UTF-8" role="form">
    			{{ form.hidden_tag() }}
    			<div>
    				<div class="col-xs-8">
    					<p class="col-xs-3">Enter your Username : </p>
    					<div class="col-xs-5">{{ render_field(form.username, placeholder="Username", autofocus="") }}</div>
    				</div>
    				<div class="col-xs-8">
    					<p class="col-xs-3">Enter your Password : </p>
    					<div class="col-xs-5">{{ render_field(form.password, placeholder="Password") }}</div>
						<div class="col-xs-8" style="padding-top: 1%"><button class="pull-right btn btn-success" type="submit" name="submit">Log in</button></div>
    				</div>

    			</div>
    		</form>
    	</div>
    </div>
{% endblock %}