{% extends 'admin/master.html' %}

{% block body %}
    <div class="col-xs-12">
            <div class="pull-right">
            <form class="form-horizontal" method="POST" action="/auth/logout" style=" padding-top: 2px; padding-bottom:2px; padding-left: 5px;">
                <input id="signup" type="submit" value="Log Out" style="background-color: #39a8f4; color:#ffffff;" name="singlebutton" class="btn btn-sample">
            </form>
        </div>

            <div class="pull-right">
            <form class="form-horizontal" method="POST" action="/auth" style=" padding-top: 2px; padding-bottom:2px; padding-left: 5px;">
                <input id="Main" type="submit" value="Main Page" style="background-color: #39a8f4; color:#ffffff;" name="singlebutton" class="btn btn-sample">
            </form>
        </div>
    </div>


    <div class="alert col-xs-12">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h3>
            This is the admin view. If you are not an admin, please leave. Otherwise, you may add and remove Users and Files as necessary.
        </h3>
</div>


{% endblock %}