<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Web Scraping</title>
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

        <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <div class="header">
            <div class="jumbotron" style="background-color: #39a8f4;">
                <h1 style="padding-left: 5%; color: #ffffff;">XChange Tracker</h1>
                <h3 style="padding-left: 5%; color: #ffffff;"> Keeping you up to date with protocols </h3>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>