{% extends "base.html" %}
{%  block content %}
<!--#TODO Show flash messages-->
    <div class="col-xs-12">
        <div class="pull-right">
            <!--#TODO Show signup button-->
            <form class="form-horizontal" method="POST" action="/auth/login" style="padding-top: 2px; padding-bottom:2px; padding-left: 5px;">
                <input id="signup" type="submit" value="Log In" style="background-color: black; color:#ffffff;" name="singlebutton" class="btn btn-sample">
            </form>
            <!--#TODO Show login button-->
            <!--<form class="form-horizontal" method="POST" action="/signin" style="padding-top: 2px; padding-bottom:2px; padding-left: 5px;">
                <input id="signin" type="submit" value="Sign In" style="background-color: black; color:#ffffff;" name="singlebutton" class="btn btn-sample">
            </form>-->
        </div>
    </div>
<!--#TODO Show instruction text-->
    <div class="alert col-xs-12">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h3>
            The webpage is used to find if there has been updates to PDF files on a website.
            <br>
            <br>
            To use the web scraper, Sign up and then go to the Web Scraping Tool Page, and copy and paste the url of webpage you want to check and hit the search button.
            <br>
            <br>
            This will then allow you to see what PDF's have been updated and when on a table below the search bar.
        </h3>
    </div>
<!--#TODO Show all files-->
    <div class="data">
        {% if Data %}
            <h2  align="center">PDF's</h2>
            <table style="margin-top: 50px; margin-bottom: 50px" border = 2, cellpadding="5", width="50%", align="center">
                <tr>
                    <td>File Address</td>
                    <td>Status</td>
                </tr>
                {% for tuple in Data %}
                    <tr>
                        <td><a href="{{ tuple[0] }}">{{ tuple[0] }}</a></td>
                        <td>{{ tuple[1] }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}
