{% extends "base.html" %}
{%  block content %}
    <div class="col-xs-12">
        <div class="pull-right">
            <form class="form-horizontal" method="POST" action="/auth/login" style=" padding-top: 2px; padding-bottom:2px; padding-left: 5px;">
                <input id="signup" type="submit" value="Log In" style="background-color: #39a8f4; color:#ffffff;" name="singlebutton" class="btn btn-sample">
            </form>
        </div>
    </div>
    <div class="alert col-xs-12">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h3>
            Log in to enter the url for pdf's that you want to keep track of.
        </h3>
    </div>
    <div class="Data" style="padding: 10px; ">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
	    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

	    <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                $(document).ready(function () {
                    var table = $('#table').DataTable({
                        lengthChange: false,
                        buttons: ['copy', 'pdf']
                    });
                    table.buttons().container().appendTo('#example_wrapper .col-sm-6:eq(0)');
                });
            });
        </script>
        <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%"><thead>
               <tr>
                   <th>File ID</th>
                   <th>Website</th>
                   <th>File Name</th>
                   <th>Date Changed</th>
               </tr>
           </thead>
           {% for row in Data %}
               <tr>
                   <td>{{ row[0] }}</td>
                   <td>{{ row[1] }}</td>
                   <td><a href="{{ row[3] }}">{{ row[2] }}</a></td>
                   <td>{{ row[4] }}</td>
               </tr>
           {% endfor %}
        </table>
    </div>
{% endblock %}
