{% extends "base.html" %}
{%  block content %}
    {% if User %}
        <div class="col-xs-12">
            <div class="pull-right">
            <form class="form-horizontal" method="POST" action="/logout" style="padding-top: 2px; padding-bottom:2px; padding-left: 5px;">
                <input id="logout" type="submit" value="Log Out" style="background-color: black; color:#ffffff;" name="singlebutton" class="btn btn-sample">
            </form>
        </div>
        <div class="pull-right">
            <form class="form-horizontal" method="POST" action="/" style="padding-top: 2px; padding-bottom:2px; padding-left: 5px;">
                <input id="logout" type="submit" value="User Preferences" style="background-color: black; color:#ffffff;" name="singlebutton" class="btn btn-sample">
            </form>
        </div>
        </div>
    {% endif %}
    {% if Message %}
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{Message}}</strong>
        </div>
    {% endif %}
    {% if not User %}
        <div class="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <h3>
                The webpage is used to find if there have been updates to files on a website.
                <br>
                <br>
                To use the web scraper, Sign up and then go to the Web Scraping Tool Page, and copy and paste the url of web page you want to check and hit the search button.
                <br>
                <br>
                This will then allow you to see what Files have been updated and when on a table below the search bar.
            </h3>
        </div>
        <div class="Account">
            <div class="col-xs-12 col-md-6 signup">
                <form data-toggle="validator" role="form" class="form-horizontal" method="POST" action="/signup">
                    <fieldset>
                        <legend>Sign Up</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="signupUsername">Username</label>
                            <div class="col-md-5">
                                <input id="signupUsername" name="signupUsername" type="text" placeholder="" class="form-control input-md" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="signupEmail">Email</label>
                            <div class="col-md-5">
                                <input id="signupEmail" name="signupEmail" type="email" placeholder="someone@example.com" class="form-control input-md" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="signupPassword">Password</label>
                            <div class="col-md-5">
                                <input type="password" name="signupPassword" data-minlength="6" class="form-control" id="signupPassword" placeholder="******" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="signupPasswordConfirm">Confirm Password</label>
                            <div class="col-md-5">
                                <input type="password" name="signupPasswordConfirm" class="form-control" id="signupPasswordConfirm" placeholder="******" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">
                                <input id="signup" type="submit" value="Sign Up" name="singlebutton" class="btn btn-primary">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-xs-12 col-md-6 login">
                <form class="form-horizontal" method="POST" action="/login">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="loginUsername">Username</label>
                            <div class="col-md-5">
                                <input id="loginUsername" name="loginUsername" type="text" placeholder="" class="form-control input-md" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="loginPassword">Password</label>
                            <div class="col-md-5">
                                <input id="loginPassword" name="loginPassword" type="password" placeholder="********" class="form-control input-md" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">
                                <input id="login" type="submit" value="Login" name="singlebutton" class="btn btn-primary">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    {% endif %}
    {% if User %}
        <div class="Scraper">
            <div class="col-xs-12">
                <form class="form-horizontal" method="POST" action="/send">
                    <label class="col-md-4 control-label" for="webpage">Website</label>
                    <div class="col-md-4">
                        <input id="webpage" name="webpage" type="text" placeholder="https://www." class="form-control input-md" required="">
                        <span class="help-block">E.G "https://www.google.co.uk/"</span>
                    </div>
                    <div class="col-md-4">
                        <button id="search" name="search" class="btn btn-success">Search</button>
                    </div>
                </form>
            </div>
        </div>
        {% if Data %}
            <ul class="nav nav-tabs">
                {% if AllData %}<li class="active"><a data-toggle="tab" href="#AllFiles">All Files</a></li>{% endif %}
                {% if LinkedFiles %}<li><a data-toggle="tab" href="#LinkedFiles">Linked Files</a></li>{% endif %}
                {% if ChangedFiles %}<li><a data-toggle="tab" href="#ChangedFiles">Changed Files</a></li>{% endif %}
                {% if UnChangedFiles %}<li><a data-toggle="tab" href="#UnChangedFiles">Unchanged Files</a></li>{% endif %}
            </ul>
            <div class="tab-content">
                {% if AllData %}
                    <div id="AllFiles" class="tab-pane fade in active">
                        <h2  align="center">All Files</h2>
                        <table style="margin-top: 50px; margin-bottom: 50px" border = 2, cellpadding="5" width="80%" align="center">
                            <tr>
                                <td>Status</td>
                                <td>File Address</td>
                            </tr>
                            {% for tuple in AllData %}
                                <tr>
                                    <td>{{ tuple[0] }}</td>
                                    <td><a href="{{ tuple[1] }}">{{ tuple[1] }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                {% if LinkedFiles %}
                    <div id="LinkedFiles" class="tab-pane fade">
                        <h2  align="center">Changed Files</h2>
                        <table style="margin-top: 50px; margin-bottom: 50px" border = 2, cellpadding="5" width="80%" align="center">
                            <tr>
                                <td>Status</td>
                                <td>File Address</td>
                            </tr>
                            {% for tuple in LinkedFiles %}
                                <tr>
                                    <td>{{ tuple[0] }}</td>
                                    <td><a href="{{ tuple[1] }}">{{ tuple[1] }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                {% if ChangedFiles %}
                    <div id="ChangedFiles" class="tab-pane fade">
                        <h2  align="center">Changed Files</h2>
                        <table style="margin-top: 50px; margin-bottom: 50px" border = 2, cellpadding="5" width="80%" align="center">
                            <tr>
                                <td>Status</td>
                                <td>File Address</td>
                            </tr>
                            {% for tuple in ChangedFiles %}
                                <tr>
                                    <td>{{ tuple[0] }}</td>
                                    <td><a href="{{ tuple[1] }}">{{ tuple[1] }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                {% if UnChangedFiles %}
                    <div id="UnChangedFiles" class="tab-pane fade">
                        <h2  align="center">Changed Files</h2>
                        <table style="margin-top: 50px; margin-bottom: 50px" border = 2, cellpadding="5" width="80%" align="center">
                            <tr>
                                <td>Status</td>
                                <td>File Address</td>
                            </tr>
                            {% for tuple in UnChangedFiles %}
                                <tr>
                                    <td>{{ tuple[0] }}</td>
                                    <td><a href="{{ tuple[1] }}">{{ tuple[1] }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{%  endblock %}